
body{
    font-family: Arial !important;
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,p,ul,li{
    margin: 0px ;
    padding: 0px ;
}
p{
    margin: 0px  !important;
    padding: 0px !important;
}
input[type="text"],input[type="password"],input[type="email"],textarea{
    font-size: 13px;
}
ul li{
    list-style: none;
}
a{
    color: black !important;
    text-decoration: none;
}
a:hover{
    color: black ;
    text-decoration: none !important;
}
iframe[Attributes Style]{
    width: 100% !important;

}
.margin20px{
    margin: 20px 0px;
}
.banner_iphone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.image:hover .category__text{
    position: absolute;
    bottom: 10px;
    left: 40%;
    transition: 1.5s;
}
.image:hover img{
    padding-top:30px;
    height: 180px;
    transition: 1s;
}
.image {
    width: 31.5%;
    margin: 10px 15px 20px  0px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}
.category__text{
    position: absolute;
    bottom: 10px;
    left: -100px;
    line-height: 40px;
    font-size: 16px;
    color:#000;
    box-sizing: border-box;
}
.avatar_images{
    background-color: #f1f1f1;
    height: 250px;
    border-radius: 5px;
}
.image img{
    border-radius: 5px;
    width: 45%;
    text-align: center;
    height: 200px;
    padding-top:50px;
}
.title_hotcategory{
    margin-top: 10px;
}
.image a {
    margin-top: 20px;
    font-weight: 400;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.header_top a{
    color: #fff !important;
}
.header_top{
    float: left;
}
.image a{
    text-decoration: none;
}
.image a:hover{
    text-decoration: none;
    color: #ff383d !important;
}
.avatar_images:hover{
    color: #ff383d;
}
.title h2 {
    text-align: center;
    margin: 30px auto;
    font-weight: 500;
    font-size: 35px;
}
.title a {
    text-decoration: none;
    color: #000;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
}

/**/
.news__category1{
    padding: 10px 0px;
    border-bottom: 1px solid #dadada;
    background-color: #fff;
}
.news__category1 .news__left{
    float: left;
    width: 30%;
}
.news__category1 .news__left1{
    float: left;
    width: 30%;
}
.news__category1 .news__left1 img{
    width: 100%;
    height: 70px;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #dadada;
}
.news__category1 .news__content1{
    float: left;
    width: 70%;
    padding-left: 10px;
}
.news__category1 .news__content1 h3{
    font-size: 12px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
}
.news__category1 .news__content1 .news__datetime{
    font-size: 11px;
    color: #7f7f7f;
    margin: 5px 0px;
}
.title__news_right{
    margin-top: 20px;
    color: #fff;
    background: #dc1c4c;
    font-size: 13px;
    text-transform: uppercase;

    padding: 12px 9px;
}
.title__news_right i{
    margin-right: 10px;
}
.detail__news{
    margin:10px 0px 30px 0px;
}
.detail__news__img{
    width: 100%;
    margin-bottom: 20px;
}
.detail__news__img img{
    width: 100%;
    border-radius: 3px;
    margin: 5px 0px;
}
.detail__news h3{
    font-size: 20px;
    margin: 10px 0px;
}
.detail__news{
    line-height: 2;
}
.detail__news .datetime{
    color: #4f4f4f;
    margin: 5px 0px;
}
.detail__news_content{
    line-height: 25px;
    font-size: 14px;
}
.detail__news_content img{
    width: 100%;
}
.detail__summary{
    font-size: 14px;
    margin-bottom: 10px;
}

.ND_title {
    float: left;
    width: 33.3%;
    margin-bottom: 25px;
    padding: 10px;
}
.ND_title img {
    width: 100%;
    height: 200px;
    border-radius: 3px;

}
.ND_title:hover a .title__news{
    color: red;
}
.ND_title a .title__news{
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
    line-height: 17px;
    overflow: hidden;
    display: -webkit-box;
    width: 95%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}
.mb-50 {
    margin-bottom: 50px;
}
.single_product_left_sidebar{
    position: relative;
    width: 100%;
}
.single_product_left_sidebar .single_product:last-child {
    border-bottom: 0;
}
.single_product_left_sidebar{
    text-align: center;
}
.new_product_wrapper .single_product {
    padding: 0 10px 20px;
}
a {
    transition: all 0.3s ease 0s;
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
.product_thumb {
    position: relative;
    width:100%;
}
.single_product:hover .product_content .product_name h3{
    color: red !important;
}
.single_product .product_thumb a img {
    width:90%;
    height: 180px;
    padding: 20px 10px 10px 10px;
    transition: all 1s;
}
.single_product .product_thumb a:hover{
    color: red;
}
.single_product:hover img{
    -webkit-transform: scale(1.1); transform: scale(1.1);
}
.product_content .product_name{
    margin-top: 10px;
}
img {
    max-width: 100%;
    height: auto;
}
.label_product span {
    line-height: 25px;
    padding: 0 15px;
    text-transform: uppercase;
    background: #ea000d;
    color: #ffffff;
    display: block;
    border-radius: 3px;
    font-size: 11px;
}
span {
    transition: all 0.3s ease 0s;
}

.single_product .product_name h3 {
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
    display: -webkit-box;
    width: 95%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.label_product {
    position: absolute;
    top: 15px;
    left: 15px;
}
.detail_presnt{
    width: 100%;
}
.detail_presnt ul table{
    width: 100% !important;
}
.detail_presnt ul table td{
    width: 50%;
    padding:5px;
    border: 1px solid #dadada;
}
.mota_sp p img{
    width: 100%; !important;
    border-radius: 3px;
}
.mota_sp img{
    width: 100%; !important;
    border-radius: 3px;
}
.mota_sp p{
    line-height: 2;
}
.detail_presnt ul table td p{
    font-weight: bold;
}
.detail__content img{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.detail__content p{
    margin: 3px 0px;
}
.detail_presnt h2{
    font-weight: bold;
    font-size: 20px;
    /*padding: 10px 0px;*/
    text-align: center;
}
.product_rating ul li{
    display: inline-block;
    color: yellow;
}
.product_rating ul li a i{
    color: yellow;
}
.single_product .price_box span.current_price {
    font-size: 15px;
}
.price_box span.current_price {
    line-height: 25px;
    color: #ea000d;
}
.price_box span.old_price {
    font-size: 13px;
    line-height: 25px;
    text-decoration: line-through;
    margin-left: 6px;
}
.single_product .action_links ul li.wishlist, .single_product .action_links ul li.compare {
    transform: translate(100%, 0);
    transition: all .4s ease-out;
    opacity: 0;
    visibility: hidden;
}
.action_links ul li {
    display: inline-block;
    margin-right: 4px;
}
.action_links ul li .wishlist a {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    text-align: center;
}

.single_product .action_links ul li.add_to_cart {
    z-index: 2;
    position: relative;
}
.action_links ul li {
    display: inline-block;
    margin-right: 4px;
    margin-top: 10px;
}
.action_links ul li a {
    text-transform: capitalize;
    border: 1px solid #c0c0c0;
    display: block;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}
.slider img{
    height: 450px;
}
/*.add_to_hottline{*/
    /*text-transform: capitalize;*/
    /*border: 1px solid red;*/
    /*display: block;*/
    /*padding: 10px;*/
    /*background: #fff;*/
    /*border-radius: 5px;*/
/*}*/
.action_links ul :hover{
    border-radius: 5px;
    background-color: #c0c0c0 !important;
    /*color: white !important;*/
}
.action_links ul li.add_to_cart a i {
    margin-right: 5px;
}
.single_product .action_links ul li.compare {
    transform: translate(-100%, 0);
    transition: all .4s ease-out;
}
.single_product .action_links ul li.wishlist, .single_product .action_links ul li.compare {
    /*transform: translate(100%, 0);*/
    /*transition: all .4s ease-out;*/
    opacity: 0;
    visibility: hidden;
}
.action_links ul li:last-child {
    margin-right: 0;
}
.action_links ul li {
    display: inline-block;
}
.section_title {
    margin-bottom: 20px;
}
.section_title h2 {
    font-size: 18px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 0;
    margin-bottom: 0;
}
.section_title h2 span {
    padding: 8px 15px 8px 3px;
    color: #ea000d;
    border-color: #ea000d;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    position: relative;
}
.homepage_icon{
    margin: 40px auto;
}
.icon_content img {
    margin: auto;
}
.icon_content {
    float: left;
    width: 33.33333%;
    text-align: center;
}
.icon_content h5 {
    margin: 20px auto 10px auto;
    font-weight: bold;
}


.title__category{

    float: left;
    width: 25%;
}
.check__price,.title__category{
    font-size: 20px;
    margin-top: 15px;
}
.producers {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
/* Hiding the initial checkbox */
input[type=checkbox] {
    visibility: hidden;
}
/* Creating a custom checkbox based on demand */
.w3docs {
    position: absolute;
    top: 0;
    left: 14px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #878787;
}
/* Specify the background color to be shown when hovering over checkbox */
.producers:hover input ~ .w3docs {
    background-color: gray;
}
/* Specify the background color to be shown when checkbox is active */
.producers input:active ~ .w3docs {
    background-color: white;
}
/* Specify the background color to be shown when checkbox is checked */
.producers input:checked ~ .w3docs {
    background-color: red;
}
/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.w3docs:after {
    content: "";
    position: absolute;
    display: none;
}
/* Display checkmark when checked */
.producers input:checked ~ .w3docs:after {
    display: block;
}
.producers .w3docs:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.check__price ul li{
    display: inline-block;
}
.check__price{
    float: left;
    width: 75%;
}
.product__main{
    float: left;
    width: 33.3%;

    margin-bottom: 10px;
    padding: 10px 10px 10px 0px;

    border-radius: 3px;
}
.back_product{
    background-color: #f1f1f1;
    height: 420px;
    width: 100%;
}
.product__main .product__link:hover .product__main__right .product__title h2{
    color: #dd2122;;
}
.logo__apple img {
    width: 60%;
    margin: 5px 0px 10px 5px;
}
.product__image__title{
    padding: 10px ;
}
.product__image__title img{
    width: 100%;
    height: 110px;
}
.product__main__left,.product__main__right{
    float: left;
    padding: 5px;
}
.product__main__left{
    width: 40%;
    margin-bottom: 20px;
}
.product__main__right{
    width: 60%;
    padding-bottom: 0px;
}
.product__rating{
    text-align: center;
}
.product__rating li{
    display: inline-block;
}
.product__rating li i.active__star{
    color: #f1b900;
}
.number__rating{
    text-align: center;
    margin-top: 5px;
}
.capacity{
    text-align: center;
    margin-top: 10px;
}
.product__main a{

}
.product__capacity{
    padding: 3px;
    font-size: 13px;
    background-color: #d9d9d9;
    border-radius: 3px;
}
.product__main__right .product__title h2{
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product__main__right .product__price__sale{
    text-decoration: line-through;
    font-size: 12px;
}
.product__main__right .product__price{
    font-size: 18px;
    color: #dd2122;
    font-weight: bold;
}
.product__guarantee{
    margin: 7px 0px 10px 0px;
    font-size: 13px;
}
.product__sale .title{
    font-weight: bold;
    margin: 5px 0px;
}
.product__content{
    overflow: hidden;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 0px;
    padding-left: 3px;
}
.product__detail{
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    font-size: 13px;
    border-radius: 4px;
    font-weight: bold;
}
.product__detail:hover{
    color: #dd2122;
    text-decoration: none;
}
.product__title__desc{
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: bold;
    padding:0px 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product__price_desc{
    color: #dd2122;
    font-size:13px;

}

.title__category{
    font-size: 20px;
    margin-top: 15px;
}
.product__main{
    float: left;
    width: 33.3%;

    margin-bottom: 10px;
    padding: 10px 10px 10px 0px;

    border-radius: 3px;
}
.back_product{
    background-color: #f4f4f4;
    height: 420px;
    width: 100%;
}
.product__main .product__link:hover .product__main__right .product__title h2{
    color: #dd2122;;
}
.logo__apple img {
    width: 60%;
    margin: 5px 0px 10px 5px;
}
.product__image__title{
    padding: 10px ;
}
.product__image__title img{
    width: 100%;
    height: 110px;
}
.product__main__left,.product__main__right{
    float: left;
    padding: 5px;
}
.product__main__left{
    width: 40%;
    margin-bottom: 20px;
}
.product__main__right{
    width: 60%;
    padding-bottom: 0px;
}
.product__rating{
    text-align: center;
}
.product__rating li{
    display: inline-block;
}
/*.product__rating li i{*/
    /*color: #f1b900;*/
/*}*/
.number__rating{
    text-align: center;
    margin-top: 5px;
}
.capacity{
    text-align: center;
    margin-top: 10px;
}
.product__main a{

}
.product__capacity{
    padding: 3px;
    font-size: 13px;
    background-color: #d9d9d9;
    border-radius: 3px;
}
.product__main__right .product__title h2{
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product__main__right .product__price__sale{
    text-decoration: line-through;
    font-size: 12px;
}
.product__main__right .product__price{
    font-size: 18px;
    color: #dd2122;
    font-weight: bold;
}
.product__guarantee{
    margin: 7px 0px 10px 0px;
    font-size: 13px;
}
.product__sale .title{
    font-weight: bold;
    margin: 5px 0px;
}
.product__content{
    overflow: hidden;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 0px;
    padding-left: 3px;
}
.product__detail{
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    font-size: 13px;
    border-radius: 4px;
    font-weight: bold;
}
.product__detail:hover{
    color: #dd2122;
    text-decoration: none;
}
.product__title__desc{
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: bold;
    padding:0px 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product__price_desc{
    color: #dd2122;
    font-size:13px;

}
.body_chitietsanpham{
    margin-top: 27px;
}
.title_home a {
    text-decoration: none;
}
.title_tieude{
    display: inline-flex;
}
.title_tieude .name_iphone{
    font-size: 24px;
    font-weight: bold;
}
.title_tieude .star {
    margin-top: 8px;
    padding-left: 20px;
}
.block_img img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
}
/*.title_tieude .star i {*/
    /*color: yellow;*/
/*}*/

.sp_img ul{
    list-style: none;
    padding-left: 0 !important;

}
.des_img li{
    width: 24%;
    display: inline-block;
}
.sp_img ul li img {
    width: 100%;
    padding:5px;
}
.active_img{
    border: 1px solid red;
}
.sp_img ul li:hover img {
    border: 1px solid grey;
    border-radius: 3px;
}
.price_sp{
    font-size: 26px;
    color: red;
    font-weight: bold;
}
.line-through{
    text-decoration: line-through;
    padding-left: 20px;
    font-size: 16px;
}
.
#img_main{
    width: 100%;
    height: 400px;
    border-radius: 3px;
}
.sdo-qua-km-new{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-top: 30px;
    position: relative;
}
.product__category_title{
    color: #dd2122;
    font-weight: bold;
}
.cavani_product{
    background: #a7a7a7;color: white;padding:7px;border-radius: 3px;

}
.qua-km-new{
    /*border-radius: 4px;*/
    /*!*border: 1px solid #a7a7a7;*!*/
    /*padding:10px 0px;*/
}
.qua-km-new label{
    background: #fff none repeat scroll 0 0 / 240px auto;
    font-weight: 600;
    left: 13px;
    font-size: 16px;
    width: 100%;
    /*border-bottom: 1px solid #a7a7a7;*/
}
.qua-km-new ul {
    color: #dd2122;
    font-weight: 700;
    font-size: 14px !important;
    padding-left: 5px;
}
.qua-km-new ul li {
    list-style: disc !important;
}
.bao_hanh img  {
    width: 100%;
}
.total-col .label__total{
    font-size: 17px;
    padding-bottom: 5px;
}
.error
{
    color: red;
    font-style: italic;
    font-size: 12px;
}
.total-col .label__sale{
    font-size: 16px;
    padding-bottom: 5px;
}
.label__cart{
    font-size: 18px;
    padding-bottom: 5px;
}
.label__cart span{
    font-weight: bold;
}
.total-col a{
    color: #fff !important;
}
.by_phone a{
    color: #fff !important;
}
.by_now{
     width: 100%;
     height: 70px;
     background-color: #06c;
     text-align: center;
     border-radius: 3px;
     border: 1px solid black;
     margin: 15px 0;
     padding-top: 10px;
 }
.by_now span{
    font-size: 18px;
    font-weight: bold;
}
.by_now1{
    width: 100%;
    height: 70px;
    background-color: #cc1c0a;
    text-align: center;
    border-radius: 3px;
    border: 1px solid black;
    margin: 15px 0;
    padding-top: 10px;
}
.by_now1 span{
    font-size: 18px;
    font-weight: bold;
}
.login-left{
    padding: 60px 20px;
}
.login-left p{
    font-weight: 600;
    font-size: 14px;

}
.resgier__dangnhap a{
    color: red !important;
}
.text_by{
    font-weight: bold;
    font-size: 18px;
}
.by_now p span {
    font-size: 12px;
    font-weight: 400;
}
.tra_gop {
    display: flex;
    margin: 0 -5px;
}
.tin_dung{
    width: 300px;
    border: 1px solid black;
    border-radius: 3px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}
.tragop{
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
}
.initial{
    font-size: 12px;
    font-weight: 400;
}
.sidebar .box-content h6 {
    padding: 7px 5px 5px 10px;
    margin-bottom: 5px;
    display: block;
}
.grid-product h3{
    font-size: 16px;
    font-weight: 700;
}
.font20 {
    font-size: 20px;
}
.text-gray-11 {
    color: #333;
    font-weight: bold;
}
.sdo-info-system ul {
    margin: 10px 0 0;
    padding: 0;
    list-style-type: none;
    /*border: 1px solid #dadada;*/
}
full-width{
    width: 100%;

}
.sdo-info-system ul li {
    border: 1px solid #eee;
    padding: 5px 5px 5px 15px;
    width: 100%;
}
.sdo-tin-cn, .sdo-huongdan-mh {
    margin-top: 30px;
}
.sdo-huongdan-mh h2 {
    line-height: 28px;
}
.sdo-tin-cn ul, .sdo-huongdan-mh ul {
    margin: 0;
}
.sdo-huongdan-mh ul li {
    list-style: none;
    display: inline-block;
    margin-top: 15px;
    width: 100%;
}
.sdo-tin-cn a, .sdo-huongdan-mh a {
    float: left;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
}
.address{
    background: #f8f8f8;
    width: 100%;
    padding: 55px 0;
    margin-top: 200px;

}
.hethongcuahang_title{
    font-size: 18px;
    font-weight: bold;
}
.sub-title{
    color: #001111;
    margin-top: 10px;
}
.local-title {
    font-weight: 600;
}
.local-address{
    font-weight: bold;
    font-style: italic;
}
.footer-local ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.footer-local ul li{
    color: #111;
    width: 25%;
    margin-top: 20px;
}
.footer-local ul li p {
    line-height: 24px;
    margin: 0;
}
.footer-local ul li a {
    color: black;
}
.footer-local-partner{
    display: flex;
}
footer {
    width: 100%;
    /*height: 629px;*/
    padding: 40px 0;
}
.footer-logo{
    width: 100px;
    border-radius: 10px;
}
.footer_about{
    margin: 20px auto;
}
.ts-footer-item{
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.ts-footer-item h3 {
    font-size: 16px;
    font-weight: 600;
}
.ts-footer-item ul {
    list-style: none;
    padding: 0;
}
.ts-footer-item ul li {
    margin-bottom: 17px;
}
.ts-footer-item ul li a {
    color: black;
}
.color-black{
    color: black;
}
.logo_bocongthuong {
    height: 100px;
}
.thanhtoan_mobile {
    float: left;
    width: 33.33333%;
}
footer .footer-info {
    width: 100%;
    margin-top: 50px;
    line-height: 2;
    font-size: 12px;
}
.footer-info {
    padding-bottom: 24px;
}
/*header*/
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.cot1,.cot2,.cot3{
    float: left;
    width: 33.33%;
}
.cot2 img{
    width: 35px;
    height: 40px;

}
.cot2 {
    text-align: center;
}
.cot3{
   margin-top: 25px;
    font-size: 15px;
}
.cot3 i {
    color: white;
    font-size: 15px;
    margin-right: 5px;
}
.cot3 span a{
    padding-left: 5px;
    color: white !important;
}
.hotlline,.user__login{
    float: left;
    width: 50%;
}
.hotlline{
    text-align: center;
}
.user__login{
    float: left;
}
.user__login ul .user__father{
    text-align: right;
}
.user__father li{
    display: inline-block;
}
.user__father{
    position: relative;
}
.user__childen li{
    display: inline;
}
.user__father:hover .user__childen{
    display: block;
    transition: all .3s ease-out;
    z-index: 2;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.2);
}
.user__childen{
    padding: 10px;
    display: none;
    position: absolute;
    /*bottom: 0;*/
    right: -40px;

    background-color: white;
    border-radius: 3px;
    text-align: center !important;
}
.user__childen li a{
    color: black !important;
}
.bg {
    height: 50px;
    width: 100%;
    background: #111;
    box-shadow: 2px 1px 18px #888888;

}
#navbarNav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.nav-item {
    padding-right: 10px;
}
.nav-link {
    color: white !important;
    font-weight: 600;
    font-size: 16px;
}
.hidden{
    display: none;
}
.active{
    display: inline-block;
}
.icon-search i{
    color: white !important;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
}
.nav-item i {
    color: blue;
    font-size: 18px;
}
.nav-item ul {
    display: none;
    position: absolute;
    list-style: none;
    min-width: 350px;
    z-index: 999;
}
.nav-item ul li {
    width: 100%;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: white;
    height: 45px;
    text-align: left;
    box-shadow: 2px 2px lightgrey;
}
.nav-item ul li:first-child a{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.nav-item ul li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-item ul li:last-child a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-item ul li a {
    width: 100%;
    color: black;
    font-size: 15px;
    padding: 0 25px;
    line-height: 50px;
    text-decoration: none;
}
.nav-item ul li a span {
    color: red;
    font-weight: bold;
    font-size: 12px;
}
.nav-item:hover ul {
    display: block;
    margin-left: -35px;
}
/*.nav-parent{*/
/*border: 1px solid lightgrey;*/
/*}*/
.nav-parent li:hover{
    background: lightgrey;
}
.icon-search {
    position: relative;

    /*margin-left: 100px;*/
}
#search__form_input .left__product,#search__form_input .right__product{
    float: left;
}
#search__form_input .left__product{
    width: 20%;
}
#search__form_input .left__product img{
    padding: 5px;
    width: 60px;
    height: 60px;
}
#search__form_input .right__product{
    width: 80%;
    padding-left: 5px;
}
.search {
    position: absolute;
    top: 45px;
    right: 0px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    border: 1px solid grey;
    line-height: 25px !important;
    width: 330px;
    z-index: 99;
}
.search input{
    width: 100%;
    padding: 5px 40px 5px 10px;
    border-radius: 5px;
    border: none;
}

.search input:focus{
    outline: none;
}
.icon-shopping{
    margin-left: 10px;
    padding: 8px;
}
.icon-shopping a{
    font-size: 16px;
}
.icon-shopping i{
    color: white;
    margin-right: 5px;
}
.icon-shopping a{
    color: white !important;
    font-weight: bold;

}
.row_banner{
    display:inherit !important;
}
button, input {
    overflow: visible;
    font: inherit;
    margin: 0;
}
.submit-search{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: grey;
}

.title__border-full {
    border-bottom: 1px #e4e4e4 solid;
}
.title__border-full .title {
    border-bottom: none;
    margin-top: 7px;
}
.title h2 {
    line-height: 60px;
}
.font-light {
    font-weight: 300;
}
.font36 {
    font-size: 36px;
}
.text-gray-11 {
    color: #333;
}
.tax-product_group .grid-product {
    margin-bottom: 30px;
}
.grid-product {
    display: inline-block;
    width: 100%;
}
.sdo-new-gird {
    display: -webkit-flex;
}
.layout-grid {
    display: inline-block;
    width: 100%;
    margin-top: 25px;
}
.tax-product_group .sdo-new-gird .item-product {
    width: 384px;
}

.sdo-new-gird .item-product {
    background: #fafafa none repeat scroll 0 0;
    margin: 5px;
}
.sdo-item-info {
    display: flex;
    padding-bottom: 10px;
}
.sdo-new-gird .sdo-item-image {
    width: 160px;
    position: relative;
}
.icon-vna {
    width: 75px;
    left: 10px;
    top: -27px;
    padding: 5px;
    border-radius: 8px;
}
.tax-product_group .sdo-item-image img {
    width: 100%;
    height: auto;
    padding-right: 10px;
}
img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}
.sdo-new-gird .sdo-item-rate {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.sdo-new-gird .sdo-item-rate .review-item {
    margin-bottom: 10px;
}
.sdo-item-rate .review-item .star input{
    display: none;
}
.sdo-item-rate .review-item .star p {
    margin:  0;
}
.sdo-item-rate .review-item .star span.stars-new {
    margin: 0 auto;
}
.sdo-item-rate .review-item .star span {
    display: block;
    background: url('../img/img_iphone/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
.sdo-item-rate .review-item .star span span {
    background-position: 0 0;
}
.sdo-new-gird .sdo-item-rate .tfs-rating {
    float: left;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}
.sdo-new-gird .info-single-product {
    float: left;
    width: 100%;
}
.info-single-product {
    margin-top: 20px;
    padding: 0 10px;
}
.info-single-product .color-single-product {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}
.full-width{
    width: 100%;
}

.sdo-label-attr {
    display: block;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
.sdo-new-gird .color-single-product ul {
    margin: 0;
}
.color-single-product ul {
    float: left;
    padding: 0;
}
.sdo-new-gird .color-single-product .item-color-new {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
}
.sdo-new-gird .info-single-product .capacity-single-product {
    margin-top: 0px;
}
.info-single-product .capacity-single-product {
    width: 100%;
    margin-bottom: 12px;
}
.move-left {
    float: left;
}
.sdo-label-attr {
    display: block;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
.sdo-new-gird .capacity-single-product ul {
    margin: 0;
}
.capacity-single-product ul {
    float: left;
    padding: 0;
}
.sdo-new-gird .capacity-single-product .item-capacity {
    background: #f2f2f2 none repeat scroll 0 0;
    border-radius: 2px;
    color: #333;
    float: left;
    list-style: outside none none;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 5px 6px;
}
.sdo-new-gird .sdo-item-khm {
    margin-top: 10px;
    padding-right: 10px;
    width: 220px;
}
.sdo-new-gird .sdo-item-title {
    float: left;
    margin-bottom: 6px;
    width: 100%;
}
.sdo-new-gird .sdo-item-title h5 {
    color: #333;
    float: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.sdo-new-gird .sdo-item-title h5 a {
    color: #333;
    text-decoration: none;
}
.sdo-new-gird .sdo-item-price {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.line-through {
    text-decoration: line-through;
    padding-left: 10px;
}
.discount{
    background-color: #dd2122;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
    margin-left: 10px;
}
.sdo-new-gird .sdo-item-price .sdo-item-price-ag {
    color: #dd2122;
    font-size: 18px;
    font-weight: 600;
}
/*.zmdi {*/
/*display: inline-block;*/
/*font: normal normal normal 14px/1 "Material-Design-Iconic-Font";*/
/*font-size: inherit;*/
/*text-rendering: auto;*/
/*-webkit-font-smoothing: antialiased;*/
/*}*/
/*.zmdi-shield-check:before {*/
/*content: "\f1c7";*/
/*}*/
.sdo-wrap-baohanh {
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 6px;
    display: inline-block;
}
.uppercase {
    text-transform: uppercase;
}
.text-bold {
    font-weight: 700;
}
.text-white {
    color: #fff;
}
.sdo-baohanh-new {
    color: #000;
    text-transform: initial;
    font-weight: normal;
}
.sdo-new-gird .sdo-item-khuyenmai {
    float: left;
    width: 100%;
}
.sdo-item-khuyenmai {
    margin-bottom: 20px;
}
.sdo-new-gird .sdo-item-khm h6 {
    float: left;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 6px;
    width: 100%;
}
.sdo-new-gird .sdo-wrap-km {
    float: left;
    margin-bottom: 8px;
    width: 100%;
}
.sdo-new-gird .sdo-wrap-km p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
}
.sdo-new-gird .sdo-wrap-km p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
}
.sdo-wrap-dct {
    float: left;
    display: block;
    padding: 6px 8px;
    text-align: center;
    border-radius: 3px;
}
.tfs-btn-mg {
    vertical-align: middle;
}
.tfs-btn-mg a {
    text-decoration: none;
}
.sdo-new-gird .sdo-xem-them {
    color: #000;
    text-transform: uppercase;
}
.position-absolute{
    display: none;
}
.sdo-dct {
    display: block;
    width: 100%;
    margin-top: 2px;
    font-style: italic;
    font-size: 11px;
}
.sdo-new-gird .sdo-item-meta {
    padding: 20px;
}
.sdo-new-gird .sdo-item-price-lw {
    color: #08c;
    font-weight: 600;
}
.content__rating{
    font-size: 14px;
}
.content__rating ul li{
    display: inline-block;
    margin-right: 7px;
    margin-top: 7px;
}
.content__rating ul li i{
    font-size: 18px;
    cursor: pointer;
}
.list-text
{
    margin-left: 10px;
    box-sizing: border-box;
    background-color: #52b858;
    color: #fff !important;
    padding: 2px 8px;
    position: relative;
    border-radius: 3px;
    display: none;
}
.active__star{
    color: #f1f100;
}
.list__rating{
    margin: 30px 0px 10px 0px;
}
.list__content .datetime{
    /*margin: 10px 0px;*/
}
.list__title {
    font-size: 15px;
    /*font-weight: bold;*/
    margin: 7px 0px;
}
.list__rating .bannner_rating{
    padding: 10px;
    font-size: 16px;
    background-color: #e9ecef;
    text-transform: uppercase;
}
.list__content{
    margin: 10px 0px;
    /*border-bottom: 1px solid #dadada;*/
    padding: 5px 0px;
}
.list__content ul{
    margin: 5px 0px;
    padding: 0px;
}
.list__content ul li{
    display: inline-block;
}

.list-text:after
{
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #52b858;
    border-width: 6px;
    margin-top: -6px;
}
.entry-content p, .entry-content ul {
    line-height: 2;
    text-align: justify;
}
.mobile {
    display: none;
}
.banner_quangcao{
    margin: 20px 0px 50px 0px;
    border-radius: 3px;
}
.img_mobile{
    display: none;
}
.logo_thanhtoan{
    width: 55%;
}
@media only screen and (max-width: 493px){
    .title_tieude .star{
        padding-left: 0px;
    }
    .title_tieude{
        display: block;
    }
    .ts-footer-item-5,.footer-logo{
        text-align: center;
    }
    .product__main{
        width: 100% !important;
    }
    .icon_content{
        padding-left: 0px;
        width: 100% !important;
    }
    .img_mobile{
        display: block;
    }
    .margin20px{
        margin: 0px;
    }
    .ts-footer-item{
        width: 100% !important;
    }
    .image{
        width: 100% !important;
        margin: 15px auto !important;
    }
    .carasoule{
        display: none;
    }
}
@media only screen and (max-width: 599px) {
    text_center{
        text-align: center !important;
    }
    .address{
        display: none;
    }
    .ND_title img{
        width: 70%;
        height:100%;
        text-align: center;
    }
    .ND_title {
        width: 100%;
        text-align: center;
    }
    .user__father a {
        font-size: 14px;
    }
    .navbar-nav{
        flex-direction: inherit !important; ;
    }
    .single_product .product_thumb a img {
        height: 100%;
    }
    .image img{
        width: 45% !important;
    }
    .image {
        width: 40%;
    }
}
@media only screen and (max-width: 1176px){
    .new_product_wrapper .single_product {
        padding: 0px;
    }
}
@media only screen and (max-width: 991px){
    .user__father li a{
        color: black !important;
    }
    .user__childen li{
        display: block !important;
    }
    .user__father:hover .user__childen{
        width: max-content !important;
    }
    .user__childen li a{
        color: black !important;
    }
    .user__childen{
        right: -10px;
    }
    .title_tieude .star{
        margin-top: 0px;
    }
    .title_tieude .name_iphone{
        font-size: 18px;
    }
    .product__image__title img{
        height: auto;
    }
    .product__main{
        width: 50%;
    }
    .user__father a {
        color: white !important;
    }
    .user__login ul .user__father{
        text-align: center;
    }
    .hotlline, .user__login{
        width: 100% !important;
    }
    .display_none{
        display: none;
    }
    .image img{
        width: 80%;
    }
    .image{
        width: 31%;
        margin: 5px 10px 15px 0px;
    }
    .cot3 {
        margin-top: 30px;
        font-size: 12px;
    }
    .mobile{
        display: block;
    }
    .single_product .product_thumb a img {
        height: 50%;
        width: 50%;
    }
}